services:

  testrunner:
    image: $DEV_IMAGE_TAG
    build:
      dockerfile: Dockerfile.dev
      context: .
      args:
        OTP_VERSION: $OTP_VERSION
        THRIFT_VERSION: $THRIFT_VERSION
    volumes:
      - .:$PWD
    hostname: $SERVICE_NAME
    working_dir: $PWD
    command: /sbin/init
    depends_on:
      dmt:
        condition: service_healthy
      liminator:
        condition: service_healthy

  dmt:
    image: ghcr.io/valitydev/dominant-v2:sha-815385c
    command: /opt/dmt/bin/dmt foreground
    healthcheck:
      test: "/opt/dmt/bin/dmt ping"
      interval: 5s
      timeout: 3s
      retries: 12
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./test/dmt/sys.config:/opt/dmt/releases/0.1/sys.config

  liminator:
    image: ghcr.io/valitydev/liminator:sha-48e1a4a
    restart: unless-stopped
    entrypoint:
      - java
      - -Xmx512m
      - -jar
      - /opt/liminator/liminator.jar
      - --spring.datasource.url=jdbc:postgresql://db:5432/liminator
      - --spring.datasource.username=liminator
      - --spring.datasource.password=postgres
      - --service.skipExistedHoldOps=false
    depends_on:
      db:
        condition: service_healthy
    healthcheck:
      test: "curl http://localhost:8022/actuator/health"
      interval: 5s
      timeout: 1s
      retries: 20

  db:
    image: postgres:15-bookworm
    command: -c 'max_connections=1000'
    environment:
      POSTGRES_MULTIPLE_DATABASES: "dmt,shumway,liminator"
      POSTGRES_PASSWORD: "postgres"
    volumes:
      - ./test/postgres/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U liminator"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    restart: unless-stopped
